{% extends "base.html" %} {% block title %}Bearbeiten von Id {{id}}{% endblock %} {% block
    content %}
<style>
    select {
        width: 200px;
        /* background: rgba(0, 0, 0, 0.3); */
        /* margin: 10px; */
    }
    .grow1 { 
        flex-grow: 1;
        /* flex-basis: auto; */
        width: 0; 
        /* flex-flow: row wrap; */
      }
</style>
    <form method="POST">
      <br><br>
      <h3 align="center">Bearbeiten von Fahrtdurchführung {{id}}</h3>
      <div class="form-group" align="center">
        <br><br>

        <section class="layout" style="background-color: rgb(202, 219, 246)">
          <div class="grow1">
          <!-- <strong>Zug</strong><br> -->
          <br><br>
          <label for="z" style="font-size:18pt">Zug</label>
          <br><br>
          Aktueller Zug: {{zug_bisher}}
          <br><br>
          <label for="zug"><strong>Neuer Zug:</strong></label>
          <br><br>
          <select id="select_zug" name="select_zug">  
            {% for s in zuege %}
              <option value={{s["zugnummer"]}}>{{s["zugnummer"]}}</option>
            {% endfor %}
          </select>
          <br><br>
          <br><br>
          </div>
          </section>
          <br><br>
        <div align="center">
          <button class="btn" type="submit" style="background-color: rgb(112, 3, 3); color:white">Änderung speichern</button>
        </div>
      </div>
    </form>
    {% endblock %}
    