{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<link rl="stylesheet" href="/static/stylesl.css"/>   
<h1 align="center">
  <br/>
  {% block header %}Fahrplan{% endblock %}</h1>
  <link rl="stylesheet" href="/static/stylesl.css"/>

  <!-- <style>
    table tr:first-child{
        /* width: 100%; */
        background-color: #f2f2d1;
    }
    
  </style> -->

<div id="posts">
  <br/>
  <div class="card border-light" align="center">
  <!-- <div align="center"> -->
  <table class = "table table-hover">
    <!-- table-striped table-bordered table-hover table-sm -->
    <thread>
      <tr class="table" style="background-color:bisque">
        <th scope="col">Start</th>
        <th scope="col">Ziel</th>
        <th scope="col">Abfahrt</th>
        <th scope="col">Ankunft</th>
        <th scope="col">Datum</th>
        <th scope="col">Zug</th>
        <th scope="col">Preis</th>
        <th scope="col">Bordpersonal</th>
        <th scope="col"></th>
      </tr>
    </thread>  
  
    {% for post in posts %}
      <!-- <div class="card-header d-flex justify-content-between align-items-center"> -->
        <tbody>
          <tr class="table">
              <!-- <th scope="row">1</th> -->
              <td>{{post.start}}</td>
              <td>{{post.ziel}}</td>
              <td>{{post.uhrzeit}}</td>
              <td>{{post.ankunft}}</td>
              <td>{{post.datum}}</td>
              <td>{{post.zug}}</td>
              <td>{{post.preis}}</td>
              <td>{{post.bordpersonal}}</td>
              {% if user.get_admin() == 'True' %}
              <td><a href="/delete-post/{{post.id}}">Delete</a></td>
              {% endif %}
              
          </tr>
        </tbody>
                
        
      <!-- </div> -->
    {% endfor %}
    
  </table>
  <!-- </div> -->
</div>
{% block footer %}
<div align="center">
</div>
{% endblock %} {% endblock %}
