{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <br><br>
  <h3 align="center">Benutzer erstellen</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      placeholder="Email eingeben"
    />
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Username eingeben"
    />
    <label for="password1">Passwort</label>
    <input
      type="password"
      id="password1"
      name="password1"
      class="form-control"
      placeholder="Passwort eingeben"
    />
    <label for="password2">Passwort wiederholen</label>
    <input
      type="password"
      id="password2"
      name="password2"
      class="form-control"
      placeholder="Passwort erneut eingeben"
    />
    <label for="admin">Admin?</label>
    <br>
    <input type="checkbox" name="checkbox_admin" id="checkbox_admin">
    <br><br>
    <br />
    <div align="center">
      <button class="btn" type="submit" style="background-color: rgb(112, 3, 3); color:white">Erstellen</button>
    </div>
  </div>
</form>
{% endblock %}
