{% extends "base.html" %}

{% block leftnavbartext %}
<h1>Waggon bearbeiten</h1>
{% endblock %}

{% block content %}

<form method="POST" action="" class="form-inline">

    {% if waggon_to_edit.__class__.__name__ == "Triebwagen" %}

    <label for="t_fg_nummer">Fahrgestellnummer:</label>
    <input type="text"
           id="t_fg_nummer"
           name="t_fg_nummer"
           class="input-small"
           value="{{ waggon_to_edit.fg_nummer }}">

    <label for="t_spurweite">Spurweite:</label>
    <input type="text"
           id="t_spurweite"
           name="t_spurweite"
           class="input-small"
           size="10"
           maxlength="4"
           value="{{ waggon_to_edit.spurweite }}">

    <label for="t_max_zugkraft">Maximale Zugkraft:</label>
    <input type="text"
           id="t_max_zugkraft"
           name="t_max_zugkraft"
           class="input-small"
           size="10"
           value="{{ waggon_to_edit.max_zugkraft }}">

    <button type="submit" name="submit_edit" class="btn btn-secondary btn-sm" value="submit_edit">Speichern</button>
    <br>

    {% else %}

    <label for="p_fg_nummer">Fahrgestellnummer:</label>
    <input type="text"
           id="p_fg_nummer"
           name="p_fg_nummer"
           class="input-small"
           value="{{ waggon_to_edit.fg_nummer }}">

    <label for="p_spurweite">Spurweite:</label>
    <input type="text"
           id="p_spurweite"
           name="p_spurweite"
           class="input-small"
           size="10"
           maxlength="4"
           value="{{ waggon_to_edit.spurweite }}">

    <label for="sitzanzahl">Sitzanzahl:</label>
    <input type="text"
           id="sitzanzahl"
           name="sitzanzahl"
           class="input-small"
           size="10"
           value="{{ waggon_to_edit.sitzanzahl }}">

    <label for="gewicht">Gewicht:</label>
    <input type="text"
           id="gewicht"
           name="gewicht"
           class="input-small"
           size="10"
           value="{{ waggon_to_edit.gewicht }}">

    <button type="submit" name="submit_edit" class="btn btn-secondary btn-sm" value="submit_edit">Speichern</button>
    <br>
    {% endif %}
</form>


{% endblock %}